body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--tertiaryColor);
}

body{
    --primaryColor: #B45309;
    --secondaryColor: 
    #FDE68A;
    --tertiaryColor:#1F2937;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    background: var(--tertiaryColor);
    color: var(--secondaryColor);
    padding: 1rem;
}

.navbar-list{
    display: inline-block;
    margin: 0 1rem;
}

.navbar .ui-ul-align-right{
    display: flex;
}

.ui-ul-align-left{
    padding-inline-start: 0;
}

.navbar-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-flex{
    display: flex;
    justify-content: baseline;
}

.text{
    font-size: 2rem;
    font-family: 800;
    color: white;
    width: 30rem;
    height: auto;
}

.button{
    width: 15rem;
    height: 3rem;
}
.button-text{
    font-size: 1rem;
    padding: 1rem;
    font-weight: 500;
    color: white;
}

.button-primary{
    margin: 7rem 0 ;
    border: 2px solid white;
    background: var(--tertiaryColor);
}

.button:hover{
    border: 2px solid var(--secondaryColor);
}

.button-text:hover{
    color: var(--secondaryColor);
}
.right{
    color: white;
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}
.right:hover{
    color: var(--secondary);
    cursor: pointer;
    text-decoration: underline;
}

.square{
    font-size: 2rem;
    position: relative;
    top: -1rem;
}