<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/installGroot.html/install.css" rel="stylesheet">
    <title>Avatar</title>
</head>
<body>
    <div class="groot">
        <div class="groot-container first">
            <nav>
            <img src="/images/groot.png" style="width: 4rem;height: auto; margin: 0 0.5rem "/>
            <span style="display: inline-flex;"><a href="/" class="square">GrooT UI</a></span>
            <div class="version"> v1.0</div>
            </nav>
            <div class="item-container">
                <div class="install-ui"><a href="/installGroot.html/install.html" class="install-text"> Installation </a></div>
                    <a href="/Components/avatar/avatar.html" class="avatar-text ">Avatars</a>
                    <a href="/Components/alert/alert.html" class="avatar-text">Alert</a>
                    <a href="/Components/buttons/button.html" class="avatar-text">Badges</a>
                    <a href="/Components/badges/badges.html" class="avatar-text">Buttons</a>
                    <a href="/Components/buttons/button.html" class="avatar-text">Cards</a>
                    <a href="/Components/modal/modal.html" class="avatar-text">Modals</a>
                    <a href="/Components/input/input.html" class="avatar-text">Input</a>
                </div>
                </div>
        <div class="groot-container second">
            <div class="avatar-container">
                <span style="font-size: 2.5rem;">Avatars</span><br/>
                <span ></span><p style="font-size: 1.3rem; color: grey;border-left: 3px solid #6B7280;margin-left: 1rem;">Avatars are user profile pictures.An avatar is a picture that placed on your social media profile, role-playing game or blog to tell people who you're.It's the best way for other people to identify you, just like an ID card on the internet.</p></span>
            </div>
            <div class="avatar-box">
            <div class="avatars">
                <img src="https://bit.ly/dan-abramov" alt="Dan Abramov" class="avatar-sm">
                <img src="https://bit.ly/dan-abramov" alt="Dan Abramov" class="avatar-md">
                <img src="https://bit.ly/dan-abramov" alt="Dan Abramov" class="avatar-bg">
            </div>
        </div>
        <div class="avatar-code">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=sharp&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522https%253A%252F%252Fbit.ly%252Fdan-abramov%2522%2520alt%253D%2522Dan%2520Abramov%2522%2520class%253D%2522avatar-sm%2522%253E%250A%250A%253Cimg%2520src%253D%2522https%253A%252F%252Fbit.ly%252Fdan-abramov%2522%2520alt%253D%2522Dan%2520Abramov%2522%2520class%253D%2522avatar-md%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cimg%2520src%253D%2522https%253A%252F%252Fbit.ly%252Fdan-abramov%2522%2520alt%253D%2522Dan%2520Abramov%2522%2520class%253D%2522avatar-bg%2522%253E"
                style="width: 662px; height: 180px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
        </div>

    </div>
</body>
</html>